.profile {
    border: 1px solid rgb(201, 201, 201);
    box-shadow: 0px 0px 15px  rgb(179, 179, 179);
    border-radius: 5px;
    width: 300px;
}
.description{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
   
}
.avatar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 50%;
}

.name{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.tag {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: rgb(158, 158, 158);
}

.location {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: rgb(158, 158, 158);
}

.stats{
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.stat:not(:last-child){
    border-right: 1px solid rgb(175, 175, 175);
}

.stat{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.label{
    color: rgb(158, 158, 158);
}

.quantity {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}



