.statistics {
    text-align: center;
}

.statList {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.title {
    background-color: white;
    margin: 0;
    padding: 10px;
    color: rgb(172, 172, 172);
}

.item {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 60px;
    font-size: 20px;
    font-weight: 500;
    padding-top: 8px;
}