.transactionHistory {
background-color: white;
width: 300px;
text-align: center;

}

.header {
    background-color: aquamarine;
}
.background:nth-child(even) {
    background-color: rgb(199, 199, 199);
  }

